html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,
q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,
audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
body , html {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color: #9B7D08;
}
.first-page , .second-page , .third-page , .fourth-page , footer{
    margin: 0 auto;
}

@font-face {
    font-family: 'SegoeWP';
    src: url(./assets/SegoeWP.ttf);
}
@font-face {
    font-family: 'AsapRegular';
    src: url(./assets/Asap-Regular.otf);
}
@font-face {
    font-family: 'Lucida';
    src: url(./assets/LSANSI.TTF);
}
@font-face {
    font-family: "Narrow" ;
    src: url(./assets/Narrow-bold.ttf);
}
@font-face {
    font-family: "SegoeWPLight";
    src: url(./assets/segoe-wp-light.ttf);
}
@font-face {
    font-family: "ptsregular";
    src: url(./assets/ptsRegular.ttf);
}
@font-face {
    font-family: "openSans";
    src: url(./assets/OpenSans-Regular.ttf);
}

@keyframes logo {
    from {
        filter: invert(0.4) sepia(1) saturate(19.9) hue-rotate(104.4deg) brightness(1.01);
    }

    to {
        filter: invert(0.4) sepia(0.5) saturate(20) hue-rotate(309.6deg) brightness(0.87);
    }
}
.first-page {
    background-image: url(./assets/first-page-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -13px 8px -10px rgb(0 0 0 / 58%) inset;
}
header {
    height: 166px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.epic-hover:hover {
    animation: logo infinite 3s;
}

.epam-logo{
    height:84px;
 
}
.logo{
    display:flex;
}
.logo h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    padding-top: 21px;
    font-size: 41px;
    font-style: italic;
}
.top-nav {
    display: flex;
    height: 80px;
    justify-content: flex-end;
    align-items: flex-end;
}
.ul-nav {
    width: 454px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F5C506;
    color: #9B7D08;
    font-size: 21px;
    font-family: 'SegoeWPLight' , sans-serif;
    box-shadow: -7px -7px 1px -2px rgba(245, 197, 6, 0.56), -11px -11px 1px -2px rgba(245, 197, 6, 0.56);
}
.about-Us , .services , .contact {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 40px; 
    flex-grow: 1;
    border-left: solid 1px rgb(0, 0, 0, .2);
}

.contact:hover,
.about-Us:hover,
.services:hover {
    cursor: pointer;
    filter: invert(0.4) sepia(0.5) saturate(18.4) hue-rotate(320.4deg) brightness(0.95);
    text-shadow: 1px 1px black;
}
main {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-h1-text {
    width: 392px;
    text-align: center;
    font-size: 63px;
    font-family: 'AsapRegular' , sans-serif ;
    color:white;
}
.video-div{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.video-div:hover{
    opacity: 0.7;
    cursor: pointer;
}
.first-video-controls{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 22px;
}
.first-video{
 width:   clamp(360px, 100vw, 549px); 
 transform: scale(1.2 , 1);
}
.playbutton-lg{
 display:flex;
 justify-content: center;
 align-items: center;
 background-color:#F5C506;
 width: 65px;
 height:65px;
 border-radius:35px;
 margin-bottom: 15%;
}
.playbutton-sm{
    display:flex;
    justify-content: center;
    align-items: center;
    width:27px;
    height:27px;
    background-color:rgb(245, 197, 6 , 0.37);
}
.controls{
    display:flex;
    align-items: center;
}
.line-range{
    margin: 0 23px;
    font-size: clamp(11px, 3vw, 17px);
    background-color: rgb(245, 197, 6 , 0.37);
    width: clamp(250px, 70vw, 430px);
    height: 13px;
    border-radius: 20px;
}
.line-range article{
    background-color: rgb(245, 197, 6);
    height: 13px;
    width: 44%;
    border-radius: 20px;
}
.arrow-boxs{
    display:flex;
    justify-content: center;
    align-items: center;
    background:#F5C506;
    opacity: 0.6098;
    width:33px;
    height:58px;
    position: relative;
    top: 10%;
    transform: translateY(-80%);
}
.arrow-boxs:hover{
    opacity: 0.96;
}
.second-page{
    display:Flex;
    justify-content: center;
    height:212px;
    background-image: url(./assets/p4bg.svg);
}
.features{
    display:flex;
}
.better-design-container, .customise-container, .its-free-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:340px;
    border-left: 1px rgb(0, 0, 0 , 0.1411764705882353) solid;
    border-right: 1px rgb(0, 0, 0 , 0.1411764705882353) solid;
}
.better-design-container:hover, .customise-container:hover, .its-free-container:hover{
    cursor: pointer;
    animation: logo infinite 3s;
}
.second-pageh2{
    font-size: 27px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.svg-icons-second-page{
    height: 96px;
}
.third-page{
    height: 519px;
    background-image: url(./assets/third-pages-bg.png);
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 13px 8px -10px rgb(0 0 0 / 68%) inset;
}
.info-container{
    max-width: 1019px;
    height: 445px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.third-page-title{
    height: 28px;
    font-size: 28px;
    color:white;
    font-family: 'ptsRegular' , sans-serif;
}
.p-video-twiter-25-container{
    height: 319px;
    display:flex;
    flex-wrap: wrap;
}
.third-page-text-container{
    background-color:#EC9E03;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:341px;
}
.third-page-text{
    width:272px;
    text-align: left;
    color:white;
    font-size:29px;
    font-family: 'SegoeWPLight', sans-serif;;
}
.second-video{
    background-image: url(./assets/monkeyMan.png);
    width: 315px;
    height: 233px;
    background-position: 25%;
    position:relative;
    opacity:0.99;
}
.yellow-circle-third-page{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 62px;
    height: 62px;
    transform: translate(-50%, -50%);
    background-color: #F5C506;
    border-radius: 30px;
    opacity:0.66
}
.second-video-button-svg{
    padding: 15px 0 0 25px;
}
.second-video:hover{
    opacity:0.66;
}  
.yellow-circle-third-page:hover{
    opacity:0.99;
}
.twitter-container{
    display:flex;
    flex-direction: column; 
    justify-content: space-between;
    background-color:#EC9E03;
    width:329px;
    margin-left: 30px;
}
.twentytwo{
 position: relative;
 top:10px;
 right:13px;
 display: flex;
 justify-content: flex-end;
}
.twitter{
    display:flex;
    justify-content: center;
}
.twitter:Hover{
    filter: invert(46%) sepia(42%) saturate(1304%) hue-rotate(166deg) brightness(109%) contrast(90%);
}
.left-plus{
    position: relative;
    left: 155px;
    top: 30px;
}
.right-plus{
    position: relative;
    bottom:10px;
    right:10px;
    display:flex;
    justify-content: flex-end;
}
.right-plus a:hover , .left-plus a:hover , .twentytwo a:hover{
    filter: invert(0.99);
}
.twentyfive{
    background-image: url(./assets/squarefourthpage.png);
    width:113px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.twentyfive:hover{
    background:black;
}
.april{
    color:#B26529;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    margin-bottom: 10px;
}
.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 16px;
    background: #FFFFFF;
    border-radius:20px;
    outline: none;
    opacity: 0.4;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider:hover {
    opacity: 1;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 196px;
    height: 16px;
    background: #EC9E03;
    cursor: pointer;
     border-radius:20px;
  }
  .white-line-container {
    display: flex;
    justify-content: center;}

.fourth-page{
    background-image: url(./assets/fourth-page-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fourth-page h3{
    font-size: 43px;
    color: #F5C506;
    font-family: 'ptsregular' , sans-serif;
}
.electronics{
    display: Flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0px 58px 0px;
    margin: 83px 0 0 30px;
}
.desktop{
    display:flex;
    margin-bottom: 55px;
    position: relative;
}
.itsfree {
    color: white;
    font-size: 19px;
    width: 117px;
    height: 117px;
    position: absolute;
    top: -40px;
    left: -25px;
    border-radius: 60px;
    background-color: #F5C506;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Narrow' , sans-serif;
}
.tablet-and-phone{
    display:flex;
}
.tablet{
    display: Flex;
    margin-left: 25px;
    padding: 0 0 55px 0;
}
.phone{
    display:Flex;
    padding: 55px 0 0 0;
    margin: 0 0 0 25px;
}
.fourth-page-info-container{
    display:flex;
    align-items: center;
    padding: 0 0 0 89px;
}
.fourth-page-ul{
    width: 70%;
}
.first-li , .second-li , .third-li , .fourth-li{
 font-size: 22px;
 padding-left: 15px;
 list-style-image: url(./assets/dotss.svg);
 color:#A9A9A7;
}

.first-li , .third-li{
    font-family:'ptsregular' , sans-serif;
   }
.second-li , .fourth-li{
 font-family: 'openSans' , sans-serif;;
}
.desktopTabletPhone{
    opacity: 0.568 ;
}
.desktopTabletPhone:Hover{
    opacity: 0.99 ;
    cursor: pointer;
}
footer{
    background-image: url(./assets/footer.png);
    height: 64px;
    box-shadow:0px -5px 5px 0px rgb(0 0 0 / 75%);
    position:relative;
    overflow:hidden;
}
footer h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 29px;
    font-style: italic;
    color:white;
    margin-top: 14px;
    width: 160px;
}
.footer-logo{
    margin-top: 3px;
    width: 55px;
}
.footer-logo-container{
    display:flex;
    margin-left: 14vw
}
.second-twitter-part{
    display:none;
}
@media only screen and (max-width: 1040px) and (min-width: 360px) {  
    .first-page{
        box-shadow: none;
    }
    header {
        height: 4rem;
        background-image: url(./assets/mobileFirstPage.png);
    }
    .logo{
        display:flex;
        width:25%;
    }
    .epam-logo{
        width: 80%;
        padding: 0 0 0 5px;
    }
    .logo h1{
    font-size: clamp(0.7rem, 3vw, 2.5rem);
    color: white;
    width: 100%;
    padding: 38px 5px 0 0;
    }
    .top-nav {
    display: flex;
    height: 4rem;
    width: 75%;
    overflow: hidden;
    }
    .ul-nav {
        width: 100%;
        height: 64px;
        font-size: 14px;
    }
    .contact , .services , .about-Us {
        height: 3.938rem;
    }
    .top-icons{
        width: 15px;
    }
main { 
        background: linear-gradient(90deg, rgba(228,126,25,0.8774860285911239) 10%, rgba(2,0,36,1) 82%, rgba(245,197,6,1) 100%);
        justify-content: center;
        height: 100%; 
}
.first-video{
        width:   clamp(360px, 100vw,640px);
        transform: none;
       }
.second-page{
    height:174px;
    overflow: hidden;
}
.second-pageh2 {
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.features{
    flex-wrap:wrap;
    justify-content: center;
    z-index: 1;
}
.first-bgforSecondPage , .second-bgforSecondPage{
    background-image: url(./assets/page2SVGBG.svg);
    position: absolute;
    opacity: 0.4;
    width: 100%;
    height: 174px;
}
.first-bgforSecondPage{
    transform: translate(0px, -5px);
}
.second-bgforSecondPage{
    transform: translate(0px, -10px);
}
.better-design-container,.customise-container,.its-free-container{
    border-left: none;
    border-right: none;
    width:150px;
} 
.svg-icons-second-page{
    height: 56px;
}
.svg-icons-second-page-modify{
    height: 45px;
}
.third-page{
    height: 100%;
    background-image: url(./assets/mobileBGx34.png);
    box-shadow: none;
}
.info-container{
    height: 100%;
}
.p-video-twiter-25-container{
    height: 100%;
    justify-content: space-around;
}
.third-page-text-container{
    width: 299px;
    height: 233px;
}
.third-page-text{
    height: 12.5rem;
    width: 235px;
}
.twitter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F5C507;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 0;
    padding: 23px 0 12px 0;
}
.left-plus{
  left: 130px;
  top: 1px;
}
.twitter{
    align-items: center;
    padding: 0 5% 2% 10%;
}
.second-twitter-part{
    display: flex;
    flex-direction: column;
    margin: 0 5% 0 5%;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    margin-top: 14px;
}
#tweet{
    border-radius: 0 20px 20px 0;
    background-color: #E8A624;
    color: white;
    border: none;
    font-size: 15px;
    width: 33%;
    height: 33px;
}
#enter-text{
    height: 30px;
    border: none;
    border-radius: 20px 0 0 20px;
}
#tweet:hover{
    background-color: #1DA1F2;
}
.fourth-page{
    overflow: hidden;
    padding-top: 43px;
}
.fourth-page h3{
    text-align: center;
    font-size: 39px;
}
.electronics{
    padding: 0 31px 0px 26px;
    margin: 83px 0 0 0;
}
.twentyfive , .april , .white-line-container , .third-page-title, .right-plus ,.twentytwo , .fourth-page-info-container , .main-h1-text , .arrow-boxs {
    display: none;
    }
}

@media only screen and (max-width: 400px){
    .itsfree{
        display:none;
    }
}
@media only screen and (max-width: 630px){
 .p-video-twiter-25-container{
    background: linear-gradient(
90deg
, rgba(228,126,25,0.8774860285911239) 10%, rgba(2,0,36,1) 82%, rgba(245,197,6,1) 100%);
}
}
